.home-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  min-height: 90vh;
  background-image: radial-gradient(white, #cccccc);
}
